#nav-list>a:hover , #collapsable-nav>a:focus{
  text-decoration: none;
}
#nav-list>li{
  color:black;
} 
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-header .navbar-brand {
  padding-top: 20px;
  height:100px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Poppins', sans-serif;
  padding-top: 15px;
  font-size: 2.5em;
  color:black;
  margin: 0px 0px 0px 15px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  padding:0px;
  margin-top: 1px;
  background-color: #f6b319;
}

li hr{
  margin-top: 20px;
  margin-bottom: 20px;
  width:80% ;
  margin-left:auto;
  margin-right:auto;
  border-top: 1px solid black;
}

#nav-list li {
  font-size:20px;
  color: black;
  text-align: center;
  margin: 20px 0px 20px 0px;
  clear:both;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
  border-radius: 0px;
}
.navbar-header button.navbar-toggle {
  margin-top:28px;
}
* {
  box-sizing : border-box ; 
}
body h2{
  margin-bottom : 20px;
  font-family : "Poppins";
  font-size : 2em;
  color: black;
} 
.box{
  margin-left: auto;
  margin-right:auto;
  width: 100%;
}
section {
  position: relative;
  border : 1px solid black ;
  background-color: #FFFCAD ;
  margin-left: 10px ; 
  margin-right: 10px ;
  margin-bottom: 20px;
}
p {
  font-family :"Poppins",sans-serif ;
  font-weight: 400 ;
  padding : 10px 10px 0px 10px;
  color : black ; 
}
#C{
  text-align: center;
  font-family: "Poppins",sans-serif ;
  padding: 5px;
  font-weight:bold;
  font-size: 125%;
}
#S{
  text-align: center;
  font-family: "Poppins",sans-serif ;
  padding: 5px;
  font-weight:bold;
  font-size: 125%;
}
#B{
  text-align: center;
  font-family: "Poppins",sans-serif ;
  padding: 5px;
  font-weight:bold;
  font-size: 125%;
}
body .row {
  margin-right: auto; 
  margin-left:auto;
  width: 100% ;
}
