* {
	box-sizing : border-box ; 
}
h1 {
	margin-bottom : 15px;
	text-align: center ;
	font-family : "Comic Sans MS";
	padding: 25px 0px 50px 0px;
	font-size : 2em;
	color: black;
} 
.box{
	width: 100%;
}
section {
	position: relative;
	border : 1px solid black ;
	background-color: #FFFCAD ;
	width : 90% ;
	margin-left: auto ; 
	margin-right: auto;
	margin-bottom: 10px;
}
p {
	font-family :"Comic Sans MS" ;
	font-weight: 300 ;
	padding : 30px 10px 0px 10px;
	color : black ; 
}
#C {
	float: right ;
	width: 40%;
	text-align: center;
	font-family: "Comic Sans MS" ;
	padding: 5px;
	font-size: 125%;
	background-color: green ;
	border: 1px solid black ;
	color: white;
}
#S {
	float: right ;
	width: 40%;
	text-align: center;
	font-family: "Comic Sans MS" ;
	padding: 5px;
	font-size: 125%;
	background-color: maroon ;
	color: white;
	border: 1px solid black ;
}
#B{
	float: right ;
	width: 40%;
	text-align: center;
	font-family: "Comic Sans MS" ;
	padding: 5px;
	font-size: 125%;
	background-color: cyan ;
	border: 1px solid black ;
}
.row {
	position : relative;
	width: 100% ;
}
@media (min-width: 992px){
	.col-lg-4{
		float: left ;
		width: 33.33% ;
	}

}

@media (min-width:768px) and (max-width:991px){
	.col-md-6 , .col-md-12{
		float: left ;
	}
	.col-md-6{
		width : 50% ;
	}
	.col-md-12{
		width: 100%;
	}
}

@media (max-width: 767px){ 
	.col-sm-12 { 
		width: 100%;
	}
 }